<!DOCTYPE html>
<html>

<head>
    <title>Express</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

      h2{
        text-align: center;
        padding: 10px;
      }

    </style>

</head>

<body>
  <div class="container">
    <h1>Welcome Page</h1>
    <p>I don't know your name yet...</p>
    <div class="jumbotron">
      <h2>This is a simple forecasting web app.  You can check out the forecasts below</h2>

      <a href='/weather' type="button" class="btn btn-secondary btn-lg btn-block">Weather</a>
      <a href='/moon' type="button" class="btn btn-secondary btn-lg btn-block">Moon</a>
      <a href='/sun' type="button" class="btn btn-secondary btn-lg btn-block">Sun</a>

    </div>
  </div>
</body>

</html>
