<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

      th{
        border: 1px solid black;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
      }
      td{
        border: 1px solid black;
        text-align: center;
        padding: 20px;
      }
      table{
        margin-bottom: 20px;
      }

    </style>

</head>

<body>

    <div class="container">
      <h1>Weather</h1>
      <p>Welcome to Weather</p>

      <table>
        <thead>
          <th>Day</th>
          <th>Temperature</th>
          <th>Humidity</th>
          <th>Location</th>
        </thead>
        <tr>
          <td>Today</td>
          <td id='temp'></td>
          <td id='hum'></td>
          <td id='loc'></td>
        </tr>
      </table>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="New Location" id='input_loc'>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" onclick="load_new_loc()">Submit</button>
        </div>
      </div>
    </div>

</body>


</html>
